.flex-container {
    display: flex;
    flex-flow: row wrap;
    margin: 2% auto;
    perspective: 2500;
    width: 1600px;

    @media screen and (min-width:550px) {
        width: 1500px;
    }

    @media screen and (min-width:700px) {
        width: 1170px;
    }

    @media screen and (min-width:1000px) {
        justify-content: center;
        width: 100%;
    }

    @media screen and (min-width:1200px) {
        width: 80%;
    }
}

.flex-item {
    flex-shrink: 0;
    flex-wrap: wrap;    
    height: 50vw;
    margin: 10px 5px;
    width: 8.5%;

    @media screen and (min-width:550px) {
        width: 12%;
    }

    @media screen and (min-width:700px) {  
        height: 35vw;
        width: 18%;
    }

    @media screen and (min-width:1000px) {
        margin: 15px;  
        height: 25vw;
    }

    @media screen and (min-width:1200px) {  
        height: 15vw;
    }
}