footer {
    background-color: #c3a273;
    box-sizing: border-box;
    padding: 10px 0;
    width: 100%;
    
    p {
        @include stroke(1, #ae8741); 
        color: #7b171a;
        font-size: 9px;
        text-align: center;

        @media screen and (min-width: 550px) {
            font-size: 12px;     
        }

        @media screen and (min-width: 1400px) {  
            font-size: 14px;    
        }       
    }
}