.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 2%;
}

.flex-item {
    flex: 0 1 20%;  
    height: 100px;
    margin-bottom: 20px; 
    margin-right: 5px;
    
    @media screen and (min-width:420px) {
        height: 150px;
    }

    @media screen and (min-width:768px) {  
        flex-basis: 20%;
        height: 220px;
    }

    @media screen and (min-width:1024px) {
        flex-basis: 17%;
        height: 250px;        
    }
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
}