.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

.flex-item {
    background-color: #000000;
    border: 1px solid #337575;
    flex-shrink: 0;
    flex-wrap: wrap;    
    height: 200px;
    margin: 10px 5px;
    width: 46%;
}