body {
  box-sizing: border-box;
  font-family: 'Futura', sans-serif;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 1000px) {
    body {
      overflow-y: auto;
      overflow-x: hidden; } }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  margin: 2% auto;
  width: 1600px; }
  @media screen and (min-width: 550px) {
    .flex-container {
      width: 1500px; } }
  @media screen and (min-width: 700px) {
    .flex-container {
      width: 1170px; } }
  @media screen and (min-width: 1000px) {
    .flex-container {
      justify-content: center;
      width: 100%; } }
  @media screen and (min-width: 1200px) {
    .flex-container {
      width: 80%; } }
  @media screen and (min-width: 1200px) {
    .flex-container {
      width: 60%; } }

.flex-item {
  flex-shrink: 0;
  flex-wrap: wrap;
  height: 50vw;
  margin: 10px 5px;
  width: 8.5%; }
  @media screen and (min-width: 550px) {
    .flex-item {
      width: 12%; } }
  @media screen and (min-width: 700px) {
    .flex-item {
      height: 35vw;
      width: 18%; } }
  @media screen and (min-width: 1000px) {
    .flex-item {
      margin: 15px;
      height: 25vw; } }
  @media screen and (min-width: 1200px) {
    .flex-item {
      height: 15vw; } }

header {
  background-color: #c3a273;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  position: sticky;
  top: 0;
  width: 100vw; }

footer {
  background-color: #c3a273;
  box-sizing: border-box;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  width: 100vw; }
  footer p {
    color: #7b171a;
    font-size: 9px;
    text-align: center;
    text-shadow: -1px -1px 0 #ae8741, -1px 0px 0 #ae8741, -1px 1px 0 #ae8741, 0px -1px 0 #ae8741, 0px 0px 0 #ae8741, 0px 1px 0 #ae8741, 1px -1px 0 #ae8741, 1px 0px 0 #ae8741, 1px 1px 0 #ae8741; }
    @media screen and (min-width: 550px) {
      footer p {
        font-size: 12px; } }
    @media screen and (min-width: 1400px) {
      footer p {
        font-size: 14px; } }

.card {
  background-color: #492e22;
  background-image: url("../img/card-upside-down.svg");
  background-position: center, center;
  background-size: 90%;
  background-repeat: no-repeat;
  border: 5px solid #ae8741;
  height: 100%; }

.btn-reset {
  padding-top: 5px; }
  @media screen and (min-width: 1400px) {
    .btn-reset {
      padding-top: 12px; } }
  .btn-reset img {
    width: 65%; }

.logo {
  left: 50%;
  position: absolute;
  top: 72%;
  transform: translate(-50%, -50%);
  width: 36%; }
  @media screen and (min-width: 550px) {
    .logo {
      width: 25%; } }
  @media screen and (min-width: 750px) {
    .logo {
      top: 80%;
      width: 24%; } }
  @media screen and (min-width: 900px) {
    .logo {
      top: 80%;
      width: 18%; } }
  @media screen and (min-width: 1200px) {
    .logo {
      top: 85%;
      width: 15%; } }
  @media screen and (min-width: 1520px) {
    .logo {
      top: 95%;
      width: 12%; } }

.score {
  padding: 12px 0;
  text-align: right; }
  @media screen and (min-width: 1400px) {
    .score {
      padding: 15px 0; } }
  @media screen and (min-width: 1520px) {
    .score {
      padding: 15px 10px 15px 0; } }
  .score p {
    color: #7b171a;
    font-size: 9px;
    margin: 0 0 10px;
    text-shadow: -1px -1px 0 #ae8741, -1px 0px 0 #ae8741, -1px 1px 0 #ae8741, 0px -1px 0 #ae8741, 0px 0px 0 #ae8741, 0px 1px 0 #ae8741, 1px -1px 0 #ae8741, 1px 0px 0 #ae8741, 1px 1px 0 #ae8741; }
    @media screen and (min-width: 550px) {
      .score p {
        font-size: 12px; } }
    @media screen and (min-width: 1400px) {
      .score p {
        font-size: 14px; } }
  .score p:last-child {
    margin-bottom: 0; }

/*# sourceMappingURL=styles.css.map */
